@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind의 responsive font-size 사용 */
html {
  @apply text-base md:text-sm sm:text-xs;
}

/* 기본적으로 Tailwind에서 a 태그의 스타일을 유틸리티 클래스로 지정 가능 */
a {
  @apply no-underline text-inherit;
}

ol,
ul {
  @apply list-none;
}

button {
  @apply border-0 cursor-pointer;
}

/* 전역 CSS 프리텐다드 */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  @apply min-h-screen;
  -ms-overflow-style: none;
  font-family: "Pretendard-Regular", sans-serif;
}

/* 스크롤바 숨김
::-webkit-scrollbar {
  display: none;
} */

textarea {
  @apply border-none resize-none focus:outline-none;
}
